{% extends "layout.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Rankings</h1>

    <form>
        <button id="by_auto" type="button">By Autos</button>
        <button id="by_teleop" type="button">By Teleop</button>
        <button id="by_climb" type="button">By Climb</button>
        <button id="by_total" type="button">By Total Points</button>
    </form>

    <table id="auto" class="table">
        <tr>
            <th>Team</th>
            <th>Auto Points</th>
        </tr>
    </table>

    <table id="teleop" class="table">
        <tr>
            <th scope="col">Team</th>
            <th scope="col">Teleop Points</th>
        </tr>
    </table>

    <table id="climb" class="table">
        <tr>
            <th>Team</th>
            <th>Climb Points</th>
        </tr>
    </table>

    <table id="total" class="table">
        <tr>
            <th>Team</th>
            <th>Total Points</th>
        </tr>
    </table>
</div>
    <script src="/analysis/static/rankings.js"></script>
{% endblock %}