{% extends "layout.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Rankings</h1>
    <table class="table" id="rankings_table">
        <thead>
        <tr class="sticky-top" style="background-color: gray;">
            <th>Rank</th>
            <th scope="col">Team</th>
            <th onclick="sortTable(1, 'auto')">Auto Average</th>
            <th onclick="sortTable(2, 'teleop')">Teleop Average</th>
            <th onclick="sortTable(3, 'climb')">Climb Average</th>
            <th onclick="sortTable(4, 'total')">Total Average</th>
            <th onclick="sortTable(5, 'driver')">Driver Average</th>
            <th onclick="sortTable(6, 'defense')">Defense Average</th>
        </tr>
        </thead>
        <tbody>
        {% for team in calculated_averages %}
        <tr class="data">
            <td class="rank"></td> 
            <th scope="row">{{ team }}</th>
            <td class="auto">{{ calculated_averages[team][0] }}</td>
            <td class="teleop">{{ calculated_averages[team][1] }}</td>
            <td class="climb">{{ calculated_averages[team][2] }}</td>
            <td class="total">{{ calculated_averages[team][3] }}</td>
            <td class="driver">{{ calculated_averages[team][4] }}</td>
            <td class="defense">{{ calculated_averages[team][5] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    var params = new URLSearchParams(window.location.search)
    if (params.get("code") == null) {
        window.location.replace(`/analysis/rankings?code=${localStorage.getItem('comp')}`)
    }
</script>
<script src="/analysis/static/rankings.js"></script>
{% endblock %}
