{% extends "layout.html" %}

{% block head %}
<title>Team {{ team }}</title>
{% endblock %}

{% block body %}
<h1>Team {{ team }}'s Data</h1>
<div class="row">
    <div class="col-3">
        <img src="{{ pit[0][11] }}" class="img-fluid" > <!-- width="200px" height="200px"  -->
    </div>
    <div class="col-9">
        <span><b>Drivetrain: </b>{{ pit[0][3] }}</span> <br>
        <span><b>Offensive or Defense: </b>{{ pit[0][4] }}</span> <br>
        <span><b>Prefered Scoring Location: </b> {{ pit[0][5] }}</span> <br>
        <span><b>Auto: </b> {{ pit[0][6] }}</span> <br>
        <span><b>Hub: </b> {{ pit[0][7] }}</span> <br>
        <span><b>Climb: </b> {{ pit[0][8] }}</span> <br>
        <span><b>Submitted by: </b> {{ pit[0][10] }}</span> <br>
        <span><b>Comments: </b> {{ pit[0][9] }}</span>
    </div>
</div>
<table class="table" id="table">
    <thead>
    <tr>
        <th scope="col">Match</th>
        <th>Cross</th>
        <th>Auto Upper</th>
        <th>Auto Bottom</th>
        <th>Total Auto</th>
        <th>Teleop Upper</th>
        <th>Teleop Bottom</th>
        <th>Total Teleop</th>
        <th>Climb Level</th>
        <th>Total Climb</th>
        <th>Total Points</th>
        <th>Driver</th>
        <th>Defense</th>
        <th>Name</th>
        <th>Comments</th>
    </tr>
    </thead>
    <tbody>
    {% for m in matches %}
    <tr class="data">
        <th scope="row">{{ m[2] }}</th>
        <td class="cross">{{ m[3] }}</td>
        <td class="au">{{ m[4] }}</td>
        <td class="ab">{{ m[5] }}</td>
        <td class="ta">{{ m[6] }}</td>
        <td class="tu">{{ m[7] }}</td>
        <td class="tb">{{ m[8] }}</td>
        <td class="tt">{{ m[9] }}</td>
        <td class="level">{{ m[10] }}</td>
        <td class="c">{{ m[11] }}</td>
        <td class="tp">{{ m[12] }}</td>
        <td class="driver">{{ m[13] }}</td>
        <td class="defense">{{ m[14] }}</td>
        <td>{{ m[15] }}</td>
        <td>{{ m[16] }}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>

<script>
    function calcAverage(className) {
        const els = document.getElementsByClassName(className)
        const nums = els.length
        var total = 0
        var res
        for (let i=0; i<els.length; i++) {
            total += parseInt(els[i].textContent) 
        }
        if (nums === 0) {
            res = "N/A"
        } else {
            res = (total / nums).toFixed(2)
        }
        var td = document.createElement("td")
        td.innerText = res

        console.log(className, res, total, nums)
        return td
    }

    var tdCounts = document.getElementsByTagName("td").length
    if (tdCounts != 0) {
        var crossAvg = calcAverage("cross")
        var autoUpperAvg = calcAverage("au")
        var autoBottomAvg = calcAverage("ab")
        var totalAutoAvg = calcAverage("ta")
        var teleopUpperAvg = calcAverage("tu")
        var teleopBottomAvg = calcAverage("tb")
        var totalTeleopAvg = calcAverage("tt")
        var levelAvg = calcAverage("level")
        var climbAvg = calcAverage("c")
        var totalPointAvg = calcAverage("tp")
        var driverAvg = calcAverage("driver")
        var defenseAvg = calcAverage("defense")

        var tr = document.createElement("tr")
        var matchTd = document.createElement("td")
        matchTd.innerText = "Avg"
        tr.appendChild(matchTd)
        crossAvg.setAttribute("class", "lol")
        tr.appendChild(crossAvg)
        tr.appendChild(autoUpperAvg)
        tr.appendChild(autoBottomAvg)
        tr.appendChild(totalAutoAvg)
        tr.appendChild(teleopUpperAvg)
        tr.appendChild(teleopBottomAvg)
        tr.appendChild(totalTeleopAvg)
        tr.appendChild(levelAvg)
        tr.appendChild(climbAvg)
        tr.appendChild(totalPointAvg)
        tr.appendChild(driverAvg)
        tr.appendChild(defenseAvg)
        document.getElementById("table").appendChild(tr)
    }
    
</script>
{% endblock %}
