{% extends "layout.html" %}

{% block head %}
<title>Teams</title>
{% endblock %}


{% block body %}
<!--Don't use another div-->
<table id="display_teams" class="table">
    <thead>
    <tr>
        <th scope="col">Team</th>
        <th scope="col">Image</th>
    </tr>
    </thead>
    <tbody>
    {% for team in all_teams %}
        <tr>
            <td>
                <a href="/analysis/team/{{team}}" class="team-nav-urls">
                    <div>
                        {{team}}
                    </div>
                </a>
            </td>
            <td>
                {% if team in teams %}
                <img src="{{teams[team]}}" alt="{{team[team]}} Image" class="img-fluid">
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script src="/analysis/static/teams_navigation.js"> </script>
{% endblock %}