{% extends "layout.html" %}

{% block head %}
<title>Team {{ team }}</title>
{% endblock %}

{% block body %}
<h1>Picklist</h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Team
  </button>
<button type="button" class="btn btn-success" id="save">Save</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="add-team">
            <label>Select a Team</label>
            <select class="form-select" aria-label="Default select example" id="teamNum">
                {% for team in teams %}
                    <option value="{{ team }}">{{ team }}</option>
                {% endfor %}
            </select>
            <label for="pick">Add to</label> <br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="pick" id="1" value="1">
                <label class="form-check-label" for="1">
                  1st Pick
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="pick" id="2" value="2">
                <label class="form-check-label" for="2">
                  2nd Pick
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="pick" id="3" value="3">
                <label class="form-check-label" for="3">
                  3rd Pick
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="pick" id="dnp" value="dnp">
                <label class="form-check-label" for="dnp">
                  DNP
                </label>
            </div>
            <button type="button" class="btn btn-primary" id="submit">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-9">
    <h2>1st Pick</h2>
    <ol id="1st-pick">
      {% for i in data.first %}
        <li class="t{{ i[0] }}">Team {{ i[0] }} - <a class='up' href='#'>up</a> <a class='down' href='#'>down</a> <a class='delete' href='#'>delete</a></li>
      {% endfor %}
    </ol>
    <hr>
    <h2>2nd Pick</h2>
    <ol id="2nd-pick">
      {% for i in data.second %}
        <li class="t{{ i[0] }}">Team {{ i[0] }} - <a class='up' href='#'>up</a> <a class='down' href='#'>down</a> <a class='delete' href='#'>delete</a></li>
      {% endfor %}
    </ol>
    <hr>
    <h2>3rd Pick</h3>
    <ol id="3rd-pick">
      {% for i in data.third %}
        <li class="t{{ i[0] }}">Team {{ i[0] }} - <a class='up' href='#'>up</a> <a class='down' href='#'>down</a> <a class='delete' href='#'>delete</a></li>
      {% endfor %}
    </ol>
    <hr>
    <h2>DNP (Do Not Pick)</h2>
    <ol id="dnpick">
      {% for i in data.dnp %}
        <li class="t{{ i[0] }}">Team {{ i[0] }} - <a class='up' href='#'>up</a> <a class='down' href='#'>down</a> <a class='delete' href='#'>delete</a></li>
      {% endfor %}
    </ol>
  </div>
  <div class="col-3">
    {% for team in teams %}
      <input type="checkbox" id="cb-{{ team }}" onclick="strikethrough('{{ team }}')">{{ team }} <br>
    {% endfor %}
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function setLinks() {
    
        var upLink = document.querySelectorAll(".up");

        for (var i = 0; i < upLink.length; i++) {
            console.log("up")
            upLink[i].addEventListener('click', function () {
                var wrapper = this.parentElement;

                if (wrapper.previousElementSibling)
                    wrapper.parentNode.insertBefore(wrapper, wrapper.previousElementSibling);
            });
        }

        var downLink = document.querySelectorAll(".down");

        for (var i = 0; i < downLink.length; i++) {
            console.log("down")
            downLink[i].addEventListener('click', function () {
                var wrapper = this.parentElement;

                if (wrapper.nextElementSibling)
                    wrapper.parentNode.insertBefore(wrapper.nextElementSibling, wrapper);
            });
        }
        
        var deleteLink = document.querySelectorAll(".delete")
        
        for (var i=0; i<deleteLink.length; i++) {
          deleteLink[i].addEventListener("click", function() {
            var wrapper = this.parentElement;
            wrapper.remove();
          })
        }
    }
    
    // var params = new URLSearchParams(window.location.search)
    // if (params.get("code") == null) {
    //     window.location.replace(`/analysis/picklist?code=${document.getElementById("comp").value}`)
    // }

    document.getElementById("submit").onclick = () => {
        $('#exampleModal').modal('hide');

        if (document.getElementById("1").checked) {
            var li = document.createElement("li");
            li.innerHTML = `Team ${document.getElementById("teamNum").value} - <a class='up' href='#'>up</a> <a class='down' href='#'>down</a> <a class='delete' href='#'>delete</a>`
            li.setAttribute("class", "t"+document.getElementById("teamNum").value)
            document.getElementById("1st-pick").appendChild(li)
            setLinks()
        } 
        if (document.getElementById("2").checked) {
            var li = document.createElement("li");
            li.innerHTML = `Team ${document.getElementById("teamNum").value} - <a class='up' href='#'>up</a> <a class='down' href='#'>down</a> <a class='delete' href='#'>delete</a>`
            li.setAttribute("class", "t"+document.getElementById("teamNum").value)
            document.getElementById("2nd-pick").appendChild(li)
            setLinks()
        } 
        if (document.getElementById("3").checked) {
            var li = document.createElement("li");
            li.innerHTML = `Team ${document.getElementById("teamNum").value} - <a class='up' href='#'>up</a> <a class='down' href='#'>down</a> <a class='delete' href='#'>delete</a>`
            li.setAttribute("class", "t"+document.getElementById("teamNum").value)
            document.getElementById("3rd-pick").appendChild(li)
            setLinks()
        }
        if (document.getElementById("dnp").checked) {
            var li = document.createElement("li");
            li.innerHTML = `Team ${document.getElementById("teamNum").value} - <a class='up' href='#'>up</a> <a class='down' href='#'>down</a> <a class='delete' href='#'>delete</a>`
            li.setAttribute("class", "t"+document.getElementById("teamNum").value)
            document.getElementById("dnpick").appendChild(li)
            setLinks()
        }
    }

    function strikethrough(teamNum) {
      if (document.getElementById("cb-" + teamNum).checked) {
        var teams = document.querySelectorAll(".t" + teamNum)
        for (let i=0; i<teams.length; i++) {
          teams[i].setAttribute("style", "color: red;")
        }
      } else {
        var teams = document.querySelectorAll(".t" + teamNum)
        for (let i=0; i<teams.length; i++) {
          teams[i].setAttribute("style", "")
        }
      }

    }

    window.onbeforeunload = function() {
      return "Data will be lost if you leave the page, are you sure?";
    };

    document.getElementById("save").onclick = () => {
      var firstPickList = document.getElementById("1st-pick")
      var secondPickList = document.getElementById("2nd-pick")
      var thirdPickList = document.getElementById("3rd-pick")
      var dnpList = document.getElementById("dnpick")

      var firstPickTeamNums = []
      var secondPickTeamNums = []
      var thirdPickTeamNums = []
      var dnpListTeamNums = []

      for (let i=0; i<firstPickList.childNodes.length; i++) {
        if (firstPickList.childNodes[i].nodeType != Node.ELEMENT_NODE) {
          continue
        }
        var team = firstPickList.childNodes[i].getAttribute("class").split("t")[1]
        var checked = document.getElementById("cb-" + team).checked
        firstPickTeamNums.push([team, checked])
      }

      for (let i=0; i<secondPickList.childNodes.length; i++) {
        if (secondPickList.childNodes[i].nodeType != Node.ELEMENT_NODE) {
          continue
        }
        var team = secondPickList.childNodes[i].getAttribute("class").split("t")[1]
        var checked = document.getElementById("cb-" + team).checked
        secondPickTeamNums.push([team, checked])
      }

      for (let i=0; i<thirdPickList.childNodes.length; i++) {
        if (thirdPickList.childNodes[i].nodeType != Node.ELEMENT_NODE) {
          continue
        }
        var team = thirdPickList.childNodes[i].getAttribute("class").split("t")[1]
        var checked = document.getElementById("cb-" + team).checked
        thirdPickTeamNums.push([team, checked])
      }

      for (let i=0; i<dnpList.childNodes.length; i++) {
        if (dnpList.childNodes[i].nodeType != Node.ELEMENT_NODE) {
          continue
        }
        var team = dnpList.childNodes[i].getAttribute("class").split("t")[1]
        var checked = document.getElementById("cb-" + team).checked
        dnpListTeamNums.push([team, checked])
      }

      fetch("/analysis/api/2023/save", {
        method : "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          first: firstPickTeamNums,
          second: secondPickTeamNums,
          third: thirdPickTeamNums,
          dnp: dnpListTeamNums,
          comp: document.getElementById("comp").value
        })
      })
    }

    fetch("/analysis/api/2023/picklist/fetch?comp=" + document.getElementById("comp").value)
    .then(response => response.json())
    .then(data => {
      for (let i=0; i<data.first.length; i++) {
        if (data.first[i][1]) {
          document.getElementById("cb-" + data.first[i][0]).checked = true
          strikethrough(data.first[i][0])
        }
      }

      for (let i=0; i<data.second.length; i++) {
        if (data.second[i][1]) {
          document.getElementById("cb-" + data.second[i][0]).checked = true
          strikethrough(data.second[i][0])
        }
      }

      for (let i=0; i<data.third.length; i++) {
        if (data.third[i][1]) {
          document.getElementById("cb-" + data.third[i][0]).checked = true
          strikethrough(data.third[i][0])
        }
      }

      for (let i=0; i<data.dnp.length; i++) {
        if (data.dnp[i][1]) {
          document.getElementById("cb-" + data.dnp[i][0]).checked = true
          strikethrough(data.dnp[i][0])
        }
      }
    })

    setLinks()
</script>
{% endblock %}